:host,
:host * {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    color: black;
    font-size: 12px;
    border: 1px solid black;
    background: transparent;
    outline: none;
    padding: 10px;
}

button:hover {
    background: gray;
}
